@use '../abstracts/variables' as *;

$clamp-default: clamp(14px, 1vw, 16px);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

html {
  scroll-behavior: smooth;
  
  // Base: escalonamento com viewport width
  font-size: .9vw;

  // FullHD mantém o padrão (1920x1080 ou mais largo)
  @media screen and (min-width: 1920px) {
    font-size: 16px; // ou o valor que você usa de base
  }

  // 1600x1200
  @media screen and (width: 1600px) and (height: 1200px) {
    font-size: $clamp-default;
  }

  // 1280x1024
  @media screen and (width: 1280px) and (height: 1024px) {
    font-size: $clamp-default;
  }

  // 1280x960
  @media screen and (width: 1280px) and (height: 960px) {
    font-size: $clamp-default;
  }

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}


html,
body {
  overflow-x: clip;
}
